body {
	font-family: Helvetica, Arial, sans-serif;
	/* Pascol Eggshell Cream */
	background-color: #fff4e1;
}
nav {
	text-align: center;
}
.nav-buttons {
	text-decoration: none;
	padding: 0.6rem;
	border-radius: 0.4rem;
	box-shadow: 0rem 0rem 0.05rem 0.025rem;
	margin: auto 0.2rem;
}
.nav-buttons:hover {
	text-decoration: underline;
}
.header-title {
	text-align: center;
	margin: 2rem 0rem;
	font-size: 2rem;
}

#github-profile-button {
	color: orange;
	background-color: rgb(255, 241, 214);
}
#github-profile-button:hover {
	background-color: rgb(255, 234, 196);
}
#web-based-projects-button {
	color: darkcyan;
	background-color: rgb(213, 248, 248);
}
#web-based-projects-button:hover {
	background-color: rgb(189, 250, 250);
}
